{{ $ := .root }}
{{ $page := .page }}

<div class="blocks">
    <div class=" block-child block-one">
        <p class="block-title">
            <span class="fas fa-question"></span>
        </p>
        <p class="block-text">
            Why HPC? <br/><br/>
                <span>
                    <a href="{{ "/#why-hpc" | relLangURL }}">
                        <button class="block-button" >
                            Learn More<i class="fas fa-arrow-right"></i>
                        </button>
                    </a>
                </span>
        </p>
    </div>
    <div class="block-child block-two">
        <p class="block-title">
            <span class="fas fa-book-open"></span>
        </p>
        <p class="block-text">
            Recent Publications<br/><br/>
                <span>
                    <a href="{{ "/publication" | relLangURL }}">
                        <button class="block-button" >
                            Read More<i class="fas fa-arrow-right"></i>
                        </button>
                    </a>
                </span>
        </p>
    </div>
    <div class="block-child block-three">
        <p class="block-title">
            <span class="fas fa-users"></span>
        </p>
        <p class="block-text">
            Goodwillers<br/><br/>
                <span>
                    <a href="{{ "/#people" | relLangURL }}">                    
                        <button class="block-button">
                            Meet The Team<i class="fas fa-arrow-right"></i>
                        </button>
                    </a>
                </span>
        </p>
    </div>
    <div class="block-child block-four">
        <p class="block-title">
            <span class="fas fa-handshake"></span>
        </p>
        <p class="block-text">
            Contact Us<br/><br/>
                <span>
                    <a href="{{ "/#contact" | relLangURL }}">                    
                        <button class="block-button">
                            Get Involved<i class="fas fa-arrow-right"></i>
                        </button>
                    </a>
                </span>
        </p>
    </div>
</div>

<style>
    .wg-blocks > .container {
        margin-left: 0;
        padding-left: 0;
    }

    .block-title {
        text-align: center;
        padding-top: 50px;
        color: hsl(0, 0%, 94%);
        font-size: 50px;
        font-weight: 10;
    }

    .block-text {
        text-align: center;
        padding-top: 10px;
        color: hsl(0, 0%, 94%);
    }

    .fa-arrow-right {
        padding-left: 10px;
    }

    .block-button {
        border-radius: 4px;
        margin-top: 50x;
        background-color: white;
        padding: 12px 28px;
        border:none;
    }

    .main-banner {
        height: 40vh;
    }

    .blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-gap: 0px;
        width:99vw;
        height: 40vh;
    }
    .block-one {
        grid-column: 1 / 2;
        grid-row: 1;
        background-image: linear-gradient(hsl(198, 94%, 14%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block1.jpg);
        background-size: cover;
    }
    .block-two { 
        grid-column: 2 / 3;
        grid-row: 1;
        background-image: linear-gradient(hsl(55, 60%, 44%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block2.jpg);
        background-color: hsl(55, 60%, 44%);
        background-size: cover;
    }
    .block-three {
        grid-column: 3 / 4;
        grid-row: 1;
        background-image: linear-gradient(hsl(195, 61%, 46%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block3.jpg);
        background-color: hsl(195, 61%, 46%);
        background-size: cover;
    }
    .block-four {
        grid-column: 4 / 5;
        grid-row: 1;
        background-image: linear-gradient(hsl(350, 97%, 12%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block4.jpg);
        background-color: hsl(350, 97%, 12%);
        background-size: cover;
    }
</style>

<script>
    function scrollToElement(elementName) {
        var element = document.getElementById(elementName)
        element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
    }
</script>