{{ $ := .root }}
{{ $page := .page }}

<div class="blocks">
    <div class=" block-child block-one">
        <h1 class="block-title">
            <span class="fas fa-stopwatch"></span>
        </h1>
        <p>
            Lorem Ipsum
        </p>
    </div>
    <div class="block-child block-two">
        <h1 class="block-title">
            <span class="fas fa-atom"></span>
        </h1>
        <p>
            Lorem Ipsum
        </p>
    </div>
    <div class="block-child block-three">
        <h1 class="block-title">
            <span class="fas fa-balance-scale"></span>
        </h1>
        <p>
            Lorem Ipsum
        </p>
    </div>
    <div class="block-child block-four">
        <h1 class="block-title">
            <span class="fas fa-code"></span>
        </h1>
        <p>
            Lorem Ipsum
        </p>
    </div>
</div>

<style>
    .wg-blocks > .container {
        margin-left: 0;
        padding-left: 0;
    }

    .block-child > p {
        text-align: center;
        padding-top: 10px;
    }

    .main-banner {
        height: 40vh;
    }

    .blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-gap: 0px;
        width:99vw;
        height: 40vh;
    }
    .block-one {
        grid-column: 1 / 2;
        grid-row: 1;
        background-image: linear-gradient(hsl(198, 94%, 14%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block1.jpg);
        background-size: cover;
    }
    .block-two { 
        grid-column: 2 / 3;
        grid-row: 1;
        background-image: linear-gradient(hsl(55, 60%, 44%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block2.jpg);
        background-color: hsl(55, 60%, 44%);
        background-size: cover;
    }
    .block-three {
        grid-column: 3 / 4;
        grid-row: 1;
        background-image: linear-gradient(hsl(195, 61%, 46%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block3.jpg);
        background-color: hsl(195, 61%, 46%);
        background-size: cover;
    }
    .block-four {
        grid-column: 4 / 5;
        grid-row: 1;
        background-image: linear-gradient(hsl(350, 97%, 12%), rgba(0, 0, 0, 0.6)),  url(https://goodwillcomputing.netlify.app/img/block4.jpg);
        background-color: hsl(350, 97%, 12%);
        background-size: cover;
    }

    .block-title {
        text-align: center;
        padding-top: 50px;
        color: white;
    }
</style>