.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
  }
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 3;
  grid-row: 1;
}
.three {
  grid-column: 3 / 4;
  grid-row: 1;
}

.main-banner {
  height: 40vh;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 0px;
  width:99vw;
  height: 40vh;
}
.block-one {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: rgb(255, 239, 210);
}
.block-two { 
grid-column: 2 / 3;
grid-row: 1;
background-color: rgb(192, 192, 253);
}
.block-three {
grid-column: 3 / 4;
grid-row: 1;
background-color: rgb(255, 198, 198);
}
.block-four {
  grid-column: 4 / 5;
  grid-row: 1;
  background-color: rgb(250, 198, 255);
}

.block-title {
  text-align: center;
  padding-top: 50px;
  color: black;
}
